.counter {
    width: fit-content;
    background-color: rgb(182, 198, 243);
    margin: auto;
    padding: 4 rem;
    text-align: center;
}
.count{
    width: fit-content;
    background-color: rgb(182, 198, 243);
    margin: auto;
    padding: 4 rem;
    text-align: center;
}
